.footer-text {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #8D98B4;
    text-align: center;
    padding: 30px 0;
}